html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* BODY */
body {
font-family: Arial, sans-serif;
background: #f9fafb;
color: #111;
line-height: 1.6;
}

/* CONTAINER */
.container {
max-width: 1200px;
margin: auto;
padding: 0 40px;
}

/* NAVBAR */

#logo {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

#logo:hover {
    color: rgb(148, 146, 146);
}

.navbar {
position: sticky;
top: 0;
background: white;
border-bottom: 1px solid #eee;
padding: 20px 0;
}

.nav-content {
display: flex;
justify-content: space-between;
align-items: center;
}

.nav-links a {
margin-left: 20px;
text-decoration: none;
color: #111;
}

.nav-links a:hover {
    color: rgb(148, 146, 146);
}

/* HERO */
.hero {
padding: 120px 0;
}

.hero-grid {
display: flex;
gap: 40px;
align-items: center;
}

.hero-text h1 {
font-size: 48px;
margin-bottom: 20px;
}

.hero-buttons {
margin-top: 20px;
display: flex;
gap: 15px;
}

.tag {
display: block;
margin-top: 15px;
font-size: 14px;
color: rgb(148, 146, 146);
margin-top: 40px;
}

.hero .watch {
    color: black !important;
}

/* PLACEHOLDER */
.placeholder {
background: #e5e7eb;
height: 250px;
display: flex;
align-items: center;
justify-content: center;
}

/* BUTTONS */
.btn {
padding: 12px 24px;
border-radius: 6px;
text-decoration: none;
}

.primary {
background: #2563eb;
color: white !important;
}

.primary:hover {
background: #032570;
color: white;
}

.secondary {
border: 1px solid #111;
background: white;
color: black;
display: inline-block;
margin-top: 20px;
}

.secondary:hover {
border: 1px solid rgb(148, 146, 146);
background: rgb(148, 146, 146);
color: white;
}

.planbtn {
  display: inline-block;
  margin-top: 20px;
}

/* PROBLEMS */
.problems {
padding: 100px 0;
background: #111;
color: white;
}

.grid-2 {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 20px;
margin-top: 40px;
}

.card {
background: #032570;
padding: 20px;
}

/* SOLUTION */
.solution {
padding: 100px 0;
}

.split {
display: flex;
gap: 40px;
}

/* HOW */
.how {
padding: 100px 0;
margin-top: -80px;
}

.center {
text-align: center;
}

.steps {
display: flex;
justify-content: center;
gap: 40px;
margin-top: 30px;
}

/* FEATURES */
.features {
padding: 100px 0;
margin-top: -80px;
}

.grid-3 {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
}

.feature-card {
padding: 20px;
border: 1px solid #eee;
background: white;
}

/* PRICING */

.subheading {
    font-size: 300%;
}

.pricing {
padding: 100px 0;
margin-top: -80px;
}

.pricing-grid {
display: flex;
gap: 20px;
margin-top: 40px;
}

.price-card {
flex: 1;
padding: 30px;
border: 1px solid #eee;
text-align: center;
transition: all 0.3s ease;
}

.highlight {
border: 2px solid #2563eb;
}

.price {
font-size: 32px;
margin: 20px 0;
}

.price-card:not(.highlight):hover {
  border: 2px solid #2563eb;
}

.pricing-grid:has(.price-card:not(.highlight):hover) .price-card.highlight {
  border: 2px solid #eee;
}

/* CTA */
.cta {
padding: 60px 0;
background: #2563eb;
color: white;
}

.contact-dropdown a {
    text-decoration: none;
    color: white;
}

.contact-dropdown a:hover {
    color: #032570;
}

/* FOOTER */
.footer {
padding: 20px 0;
background: #111;
color: white;
}
